# Build
target/
build/
bin/
.gradle/

*.class
*.jar
*.war
*.ear

# Environment / Config
.env
.env.*
application.properties
application.yml
src/main/db.properties

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# OS
Thumbs.db
.DS_Store

# DB backups
*.dump
*.backup
*.sql.backup

# Misc
*.tmp
dependency-reduced-pom.xml
