*.class
*.jar
*.war
*.ear
bin/
build/
target/
.gradle/

.env
.env.*
src/db.properties
application.properties
application.yml

.idea/
.vscode/
*.iml

*.log

Thumbs.db
.DS_Store

*.dump
*.backup
*.sql.backup

dependency-reduced-pom.xml
